@keyframes smoothAppearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  80% {
    transform: rotate(400deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  position: relative;

  width: 100wh;
  height: 100vh;

  background: linear-gradient(180deg, rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%) center center fixed,
    url(../assets/bg-default.jpg) no-repeat center center fixed;
  background-size: cover;

  @include marginCollapseFix;

  animation: smoothAppearance 2s ease-in-out;
}

.button-cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: $margin-top-small 0;

  @include respond(phone) {
    justify-content: center;
  }

  &__left-sub-cluster {
    display: flex;

    margin-left: $martin-sides;
    margin-right: 2rem;

    @include respond(phone) {
      order: 1;

      margin: $margin-top-small 5rem 0;
    }
  }

  &__right-sub-cluster {
    position: relative;

    display: flex;

    margin-right: $martin-sides;
    margin-left: 2rem;

    @include respond(phone) {
      margin: 0 5rem;
    }
  }
}

.button {
  width: 4.4rem;
  height: 4.4rem;

  @include flexCenter;

  border-radius: .5rem;

  background: $color-grey-transp;

  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  color: $color-white;
  text-transform: uppercase;

  transition: all .2s;

  &:hover {
    background-color: $color-grey;
  }

  &--update {
    background: $color-grey-transp url(../assets/update-button.svg) no-repeat center bottom;
    background-size: 4.4rem;
  }

  &--f {
    margin-left: 1rem;
    border-radius: .5rem 0 0 .5rem;

    cursor: initial;

    &:hover {
      background-color: $color-grey-transp;
    }
  }

  &--c {
    border-radius: 0 .5rem .5rem 0;

    cursor: initial;

    &:hover {
      background-color: $color-grey-transp;
    }
  }
}

.spinner {
  width: 2rem;
  height: 2rem;

  background: url(../assets/spinner.svg) center no-repeat;

  animation: spin 1.4s ease-in-out
}

.language-menu {
  position: relative;

  margin-left: 1rem;
}

.arrow-down {
  width: 1.3rem;
  height: 1.3rem;

  margin-left: 1rem;

  background: url(../assets/arrow-down.svg) center no-repeat;

  &--open {
    transform: scaleY(-1)
  }
}

.drop-down-menu {
  position: absolute;
  z-index: 1;

  max-height: 0;
  overflow: hidden;

  transition: max-height .6s cubic-bezier(0.25, 0.46, 0.45, 0.94), border-radius .2s;

  @include respond(phone) {
    position: relative;
  }

  &--open {
    max-height: 20rem;
    height: auto;
  }

  &__face-button {
    width: 7.1rem;

    &--open {
      border-radius: .5rem .5rem 0 0;
    }
  }

  &__item {
    width: 7.1rem;

    border-radius: 0;

    cursor: initial;

    &:hover {
      background-color: $color-grey-transp;
    }

    &:last-child {
      border-radius: 0 0 .5rem .5rem;
    }
  }
}

.search-input {
  width: 27.4rem;
  height: 4.4rem;

  border: .1rem solid $color-grey-transp;
  border-radius: .5rem 0 0 .5rem;
  padding: 1.3rem 1.5rem;

  background: $color-grey-transp-dark;

  font-family: inherit;
  font-size: $font-size-small;
  color: $color-white;

  &:required {
    outline: 0;
    // box-shadow: none;
  }

  &::placeholder {
    font-size: $font-size-small;
    color: $color-white;

    opacity: 1;
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &__button {
    width: 10rem;

    margin-left: 0;
    border-radius: 0 .5rem .5rem 0;
  }

  &__voice-button {
    position: absolute;
    z-index: 1;
    top: .2rem;
    right: 11rem;

    width: 3rem;
    height: 4rem;

    background: url(../assets/microphone.svg) center no-repeat;
    background-size: 50%;
  }
}

.inactive {
  background: $color-grey-transp-dark;

  color: $color-white-transp;

  cursor: pointer;

  &:hover {
    background-color: $color-grey;
    color: $color-white;
  }
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 $martin-sides;

  @include respond(tab-land) {
    justify-content: center;
  }
}

.weather-data-cluster {
  display: grid;
  grid-template-columns: repeat(3, 22rem);

  text-transform: uppercase;
  font-weight: bold;

  @include respond(phone) {
    grid-template-columns: repeat(3, 10rem);
    justify-content: center;
  }

  &__location {
    grid-column: 1 / 4;

    font-size: $font-size-large;

    @include respond(tab-port) {
      text-align: center;
    }
  }

  &__date-time {
    grid-column: 1 / 4;

    margin-top: 1rem;

    font-size: $font-size-normal;
    text-transform: capitalize;
    font-weight: initial;

    @include respond(tab-port) {
      text-align: center;
    }
  }

  &__temperature-today {
    grid-column: 1 / 3;
    grid-row: 3 / 5;

    text-align: center;
    font-size: $font-size-extra-large;

    @include respond(phone) {
      grid-column: 1 / 4;
    }
  }

  &__weather-icon {
    transform: translate(0, -20%);

    width: 17rem;
    height: 17rem;

    @include respond(tab-port) {
      transform: translate(0, -10%);
    }

    @include respond(phone) {
      grid-column: 1 / 4;
      margin: 0 auto;
    }
  }

  &__weather-data {
    transform: translate(0, -20%);

    &>:not(:last-child) {
      margin-bottom: 1rem;
    }

    @include respond(tab-port) {
      transform: translate(0, -10%);
    }

    @include respond(phone) {
      grid-column: 1 / 4;
      justify-content: center;
      text-align: center;
      margin-top: 2rem;
    }
  }
}

.forecast {
  display: grid;

  margin-right: 5rem;

  @include respond(tab-port) {
    margin: 0 2.5rem;
  }

  @include respond(phone) {
    grid-column: 1 / 4;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
  }

  &__day {
    grid-column: 1 / 3;

    font-size: $font-size-normal;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__temperature {
    font-size: $font-size-very-large;
  }

  &__icon {
    width: 6.7rem;
    height: 6.7rem;
  }
}

.map-cluster {

  @include respond(tab-land) {
    margin-top: $margin-top;
  }

  &__map {
    width: 37.5rem;
    height: 37.5rem;

    border-radius: 5%;

    overflow: hidden;
  }

  &__coordinates {
    margin-top: 2rem;

    font-size: $font-size-normal;
    text-align: right;

    @include respond(tab-land) {
      text-align: center;
      margin-bottom: 4rem;
    }
  }
}

.map-iframe {
  width: 200%;
  height: 200%;

  transform: translate(-25%, -25%);

  border: 0;
  border-radius: 5%;
}

.search-field-error {
  box-shadow: 0px 0px 1rem 0px rgba(226, 31, 31, 0.87);

  &::placeholder {
    color: rgb(248, 174, 174);

    opacity: 1;
  }
}
