body {
  position: relative;

  width: 100wh;
  height: 100vh;

  background: linear-gradient(180deg, rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%), url(../assets/bg-default.png) no-repeat center center fixed;
  background-size: cover;

  @include marginCollapseFix;
}

.button-cluster {
  display: flex;

  margin: 4rem $martin-sides;
}

.button {
  width: 4.4rem;
  height: 4.4rem;

  @include flexCenter;

  border-radius: .5rem;
  margin-left: 1rem;

  background: $color-grey-transp;

  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  color: $color-white;
  text-transform: uppercase;

  transition: all .2s;

  &:hover {
    background-color: $color-grey;
  }

  &--update {
    margin-left: 0;

    background: $color-grey-transp url(../assets/update-button.svg) no-repeat center bottom;
    background-size: 4.4rem;
  }

  &--language {
    width: 7.1rem;
  }

  &--f {
    border-radius: .5rem 0 0 .5rem;

    cursor: initial;

    &:hover {
      background-color: $color-grey-transp;
    }
  }

  &--c {
    margin-left: 0;
    border-radius: 0 .5rem .5rem 0;

    cursor: initial;

    &:hover {
      background-color: $color-grey-transp;
    }
  }
}

.spinner {
  width: 2rem;
  height: 2rem;

  background: url(../assets/spinner.svg) center no-repeat;

  transition: all .1s;
}

.arrow-down {
  width: 1.3rem;
  height: 1.3rem;

  margin-left: 1rem;

  background: url(../assets/arrow-down.svg) center no-repeat;
}

.inactive {
  background: $color-grey-transp-dark;

  color: $color-white-transp;

  cursor: pointer;

  &:hover {
    background-color: $color-grey;
  }
}

.search-input {
  width: 27.4rem;
  height: 4.4rem;

  margin-left: auto;
  border: .1rem solid $color-grey-transp;
  border-radius: .5rem 0 0 .5rem;
  padding: 1.3rem 1.5rem;

  background: $color-grey-transp-dark;

  font-family: inherit;
  font-size: $font-size-small;
  color: $color-white;

  &:required {
    outline: 0;
    box-shadow: none;
  }

  &::placeholder {
    font-size: $font-size-small;

    opacity: 1;
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &__button {
    width: 10rem;

    margin-left: 0;
    border-radius: 0 .5rem .5rem 0;
  }
}

.weather-data-cluster {
  margin-left: $martin-sides;

  position: absolute;
  top: 19%;

  display: grid;
  grid-template-columns: repeat(3, 22rem);

  text-transform: uppercase;
  font-weight: bold;

  &__location {
    grid-column: 1 / 4;

    font-size: $font-size-large;
  }

  &__date-time {
    grid-column: 1 / 4;

    margin-top: 1rem;

    font-size: $font-size-normal;
    text-transform: capitalize;
    font-weight: initial;
  }

  &__temperature-today {
    grid-column: 1 / 3;
    grid-row: 3 / 5;

    text-align: center;
    font-size: $font-size-extra-large;
  }

  &__weather-icon {
    transform: translate(0, -20%);

    width: 17rem;
    height: 17rem;
  }

  &__weather-data {
    transform: translate(0, -20%);

    &>:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.forecast {
  display: grid;

  margin-right: 5rem;

  &__day {
    grid-column: 1 / 3;

    font-size: $font-size-normal;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__temperature {
    font-size: $font-size-very-large;
  }

  &__icon {
    width: 6.7rem;
    height: 6.7rem;
  }
}

.map-cluster {
  position: absolute;
  top: 27%;
  right: $martin-sides;

  &__map {
    width: 37.5rem;
    height: 37.5rem;

    border-radius: 5%;

    background: #e5e3df;

    overflow: hidden;
  }

  &__coordinates {
    margin-top: 2rem;

    font-size: $font-size-normal;
    text-align: right;
  }
}

.map-iframe {
  width: 200%;
  height: 200%;

  transform: translate(-25%, -25%);

  border: 0;
  border-radius: 5%;
}